.Parent_footer {
  background-color: #311c00;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 10rem;
  justify-content: space-between;
  padding: 3rem;
}

.text_footer {
  color: white;
  font-weight: lighter;
}

.footerMiddle_footer {
  background-color: #311c00;
  width: 20%;
  height: 20rem;
  /* flex: .9; */
  /* border: 1px solid black; */
}
.footerLeft_footer {
  background-color: #311c00;
  width: 31%;
  height: 20rem;
  /* flex: .9; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}

.footerRight_footer {
  background-color: #311c00;
  width: 30%;
  height: 20rem;
  /* flex: .9; */
  /* border: 1px solid black; */
  padding: 0.3rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.address_footer {
  margin-top: 0.5rem;
  width: 100%;
  height: 10%;
  /* border: 1px solid black; */
  display: flex;
  color: white;
}
.logoNew_footer {
  width: 100%;
  height: 6rem;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  padding: 0.8rem;
  gap: 0.5rem;
}

.description_footer {
  width: 100%;
  height: 50%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  padding: 0.8rem;
  gap: 0.5rem;
  color: white;
  font-family: Nunito Sans;
}

.handlesNewUp_footer {
  width: 100%;
  height: 10%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem;
  gap: 0.5rem;
  color: white;
  font-family: Nunito Sans;
  font-weight: bolder;
}

.handlesNew_footer {
  width: 100%;
  height: 30%;
  /* border: 1px solid black; */
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 0.8rem;
  gap: 0.5rem;
  color: white;
  font-family: Nunito Sans;
}

.ecellLogo_footer {
  /* border: 1px solid black; */
  width: 35%;
}

.cellLogo_footer {
  width: 100%;
  height: 85%;
}

.summitLogoAndName_footer {
  /* border: 1px solid black; */
  width: 70%;
  display: flex;
  flex-direction: row;
}
.esummitLogo_footer {
  /* border: 1px solid black; */
  width: 25%;
  display: flex;
}

.collegeName_footer {
  /* border: 1px solid black; */
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameOfCollege_footer {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  color: white;
  font-family: Nunito Sans;
  font-style: normal;
  display: flex;
  justify-content: center;
  font-size: x-small;
}

.motto_footer {
  width: 100%;
  height: 100%;
}

.countryName_footer {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: center;
}

.summitYear_footer {
  border: 1px solid black;
  width: 100%;
  height: 60%;
  color: white;
  font-family: Nunito Sans;
  display: flex;
  justify-content: center;
  /* font-size: xx-large; */
}

.contactLeft_footer {
  width: 39.5;
  height: 23%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.8rem;
}
.email_footer {
  /* border:1px solid black; */
  height: 8%;
  width: 100%;
  color: white;
}
.image_footer {
  display: flex;
  justify-content: center;
  height: 90%;
  width: 100%;
  padding: 0.2rem;
  margin-left: -0.2rem;
}
.phone_footer {
  border: 1px solid black;
  height: 4rem;
  width: 13rem;
}

.contactNo_footer {
  color: white;
  width: 39.5;
  height: 8%;
}

.iconInstagram_footer {
  height: 2rem;
  width: 10%;
  /* border: 1px solid black; */
}
.iconFacebook_footer {
  height: 2rem;
  width: 10%;
  /* border: 1px solid black; */
}
.iconTwitter_footer {
  width: 10%;
  height: 2rem;
  /* border: 1px solid black; */
}
.iconYoutube_footer {
  width: 10%;
  height: 2rem;
  /* border: 1px solid black; */
}
.iconLinkedin_footer {
  width: 10%;
  height: 2rem;
  /* border: 1px solid black; */
}
.middleBottom_footer {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.Bharat_footer {
  height: 50%;
  width: 30%;
}

.icon_footer {
  margin-top: -1rem;
  width: 70%;
  height: 80%;
}

.contactUs_footer {
  color: white;
  height: 12%;
  /* border: 1px solid white; */
}
.name_footer {
  border-radius: 0.4rem;
  height: 12%;
  /* border: 1px solid white; */
}
.emailAddress_footer {
  border-radius: 0.4rem;
  height: 12%;
  /* border: 1px solid white; */
}
.phoneNoAndQuery_footer {
  border-radius: 0.4rem;
  height: 12%;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.phoneNo_footer {
  border-radius: 0.4rem;
  /* border: 1px solid white; */
  height: 90%;
  width: 50%;
}

.query_footer {
  border-radius: 0.4rem;
  /* border: 1px solid white; */
  height: 90%;
  width: 50%;
}
.message_footer {
  border-radius: 0.4rem;
  height: 45%;
  /* border: 1px solid white; */
}

.mb-3_footer {
  background-color: rgb(73, 63, 63);
}

.form-control_footer {
  background-color: red;
}

.formsParent_footer {
  color: white;
}

.formBasicPassword_footer {
  background-color: red;
}

.forms_footer {
  background-color: red;
}

.button_footer {
  margin-top: -0.6rem;
  border: 1px solid white;
  background-color: #311c00;
}

@media screen and (max-width: 1300px) {
  .logoNew_footer {
    width: 17rem;
  }
}
@media screen and (max-width: 1160px) {
  .text_footer {
    font-size: small;
  }
}

@media screen and (max-width: 1138px) {
  .description_footer {
    font-size: small;
  }
}

@media screen and (max-width: 964px) {
  .Parent_footer {
    flex-direction: column;
    gap: 0rem;
    padding: 0rem;
    align-items: center;
  }

  .footerMiddle_footer {
    background-color: #311c00;
    width: 30%;
    height: 15rem;
    padding: 0.4rem;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    /* justify-content: center;
    align-items: center; */
  }
}

@media screen and (max-width: 855px) {
  .logoNew_footer {
    width: 15rem;
  }
}

@media screen and (max-width: 762px) {
  .description_footer {
    font-size: 0.8rem;
  }
  .icon_footer {
    width: 70%;
    height: 60%;
  }

  .message_footer {
    margin-top: -0.5rem;
  }

  .footerLeft_footer {
    gap: 0.2rem;
  }
}
