.Parent{
    background-color: #311C00;
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100%;
    gap: 10rem;
    justify-content: space-between;
    padding: 3rem;

}

.text{
    color: white;
    font-weight: lighter;
}

.footerMiddle{
    background-color: #311C00;
    width: 20%;
    height: 20rem;
    /* flex: .9; */
    /* border: 1px solid black; */

}
.footerLeft{
    background-color: #311C00;;
    width: 31%;
    height: 20rem;
    /* flex: .9; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.footerRight{
    background-color: #311C00;;
    width: 30%;
    height: 20rem;
    /* flex: .9; */
    /* border: 1px solid black; */
    padding: .3rem;
    gap: .5rem;
    display: flex;
    flex-direction: column;


   
        
}
.address{
    margin-top: .5rem;
    width: 100%;
    height: 10%;
    /* border: 1px solid black; */
    display: flex;
    color: white;
    
}
.logoNew{
    width: 100%;
    height: 6rem;
    /* border: 1px solid black; */
    display: flex;
    flex-direction:row;
    padding: .8rem;
    gap: .5rem;
    
}

.description{
    width: 100%;
    height: 50%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction:row;
    padding: .8rem;
    gap: .5rem;
    color: white;
    font-family: Nunito Sans;

}

.handlesNewUp{
    width: 100%;
    height: 10%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction:row;
    align-items: center;
    padding: .8rem;
    gap: .5rem;
    color: white;
    font-family: Nunito Sans;
    font-weight: bolder;
    
}

.handlesNew{
    width: 100%;
    height: 30%;
    /* border: 1px solid black; */
    display: flex;
    align-items: flex-start;
    flex-direction:row;
    padding: .8rem;
    gap: .5rem;
    color: white;
    font-family: Nunito Sans;
    
}


.ecellLogo{
    /* border: 1px solid black; */
    width: 35%;
}

.cellLogo{
    width: 100%;
    height:85%;
}

.summitLogoAndName{
    /* border: 1px solid black; */
    width: 70%;
    display: flex;
    flex-direction: row;
}
.esummitLogo{
    /* border: 1px solid black; */
    width: 25%;
    display: flex;
    
}

.collegeName{
    /* border: 1px solid black; */
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.nameOfCollege{
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    color: white;
    font-family: Nunito Sans;
    font-style: normal;
    display: flex;
    justify-content: center;
    font-size: x-small;    
}

.motto{
   width: 100%;
   height: 100%;
}


.countryName{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: center;
}

.summitYear{
    border: 1px solid black;
    width: 100%;
    height: 60%;
    color: white;
    font-family: Nunito Sans;
    display: flex;
    justify-content: center;
    /* font-size: xx-large; */
}



.contactLeft{
    width: 39.5;
    height: 23%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .8rem;
}
.email{
    /* border:1px solid black; */
    height: 8%;
    width:100%;
    color: white;

}
.image{
    display: flex;
    justify-content: center;
    height: 90%;
    width: 100%;
    padding: .2rem;
    margin-left: -.2rem;
}
.phone{
    border:1px solid black;
    height: 4rem;
    width: 13rem;
}



.contactNo{
    color: white;
    width: 39.5;
    height:8%;

}

.iconInstagram{
    height: 2rem;
    width: 10%;
    /* border: 1px solid black; */
}
.iconFacebook{
    height: 2rem;
    width: 10%;
    /* border: 1px solid black; */
}
.iconTwitter{
    width: 10%;
    height: 2rem;
    /* border: 1px solid black; */
}
.iconYoutube{
    width: 10%;
    height: 2rem;
    /* border: 1px solid black; */
}
.iconLinkedin{
    width: 10%;
    height: 2rem;
    /* border: 1px solid black; */
}
.middleBottom{
    border:1px solid black;
    display: flex;
    flex-direction: column;
}

.Bharat{
    height: 50%;
    width: 30%;
}

.icon{
    margin-top: -1rem;
    width: 70%;
    height: 80%;
}

.contactUs{
    color:white;
    height: 12%;
    /* border: 1px solid white; */
}
.name{
    
    border-radius: .4rem;
    height: 12%;
    /* border: 1px solid white; */
}
.emailAddress{
    border-radius: .4rem;
    height: 12%;
    /* border: 1px solid white; */
}
.phoneNoAndQuery{
    border-radius: .4rem;
    height: 12%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.phoneNo{
    border-radius: .4rem;
    /* border: 1px solid white; */
    height: 90%;
    width: 50%;

}

.query{
    border-radius: .4rem;
    /* border: 1px solid white; */
    height: 90%;
    width: 50%;
}
.message{
    border-radius: .4rem;
    height: 45%;
    /* border: 1px solid white; */
}


.mb-3{
    background-color: rgb(73, 63, 63);

}

.form-control{
    background-color: red;
}


.formsParent{
    color: white; 
}


.formBasicPassword{
    background-color: red;
}



.forms{
    background-color: red;
}



.button{
    margin-top: -.6rem;
    border: 1px solid white;
    background-color: #311C00;
}

@media screen and (max-width: 1300px)
{

.logoNew{
    width: 17rem;
}

}
@media screen and (max-width: 1160px)
{

.text{
    font-size: small;
}

}

@media screen and (max-width: 1138px)
{

.description{
    font-size: small;
}

}

@media screen and (max-width: 964px)
{

.Parent{
    flex-direction: column;
    gap: 0rem;
    padding: 0rem;
    align-items: center;
}

.footerMiddle{
    background-color: #311C00;
    width: 30%;
    height: 15rem;
    padding: .4rem;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    /* justify-content: center;
    align-items: center; */
}

}


@media screen and (max-width: 855px)
{

.logoNew{
    width: 15rem;
}

}


@media screen and (max-width: 762px)
{

.description{
    font-size: .8rem;

}

.message{
    margin-top: -.5rem;
}

.footerLeft{
    gap:.2rem;
}
}