.dashboardContainer{
    height: 100vh;
    width: 100%;
    background-color: #301A08;
    display: flex;
    justify-content: center;
}
.dashboardSubContainer{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    

}
.dashboardContainerHeader{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.dashboardLine{
    width: 100%;
    height: 1px;
    background-color: #F2F2F2;
}