.eventPgHdng {
  font-size: 44px;
  font-weight: 600;
  line-height: 30px;
  // text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
  display: flex;
  justify-content: flex-start;
  padding-left: 8%;
}

.eventPgCont {
  background: linear-gradient(180deg, #12100e 0%, #301a08 100%);
  color: #f3edd8;
  width: 100%;
}

.eventPgCards {
  background: #f3edd8;
  width: 350px;
  height: 415px;
  margin-bottom: 10%;
}

.eventPgAbout {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  letter-spacing: 0.04em;
  height: 13rem;
  // width: 17rem;
  color: black;
  text-align: center;
  padding-top: 31px;
  margin-top: -1rem;
}
// .eventPgBtnC:hover {

// }

.eventPgFlex {
  display: flex;
  // justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 7%;
  justify-content: center;
  align-items: center;

  //    padding-left: 20rem;
}

.eventPgBtnC {
  height: 56px;
  width: 350px;
  background-color: #ba6d39;
  padding-left: 4rem;
  padding-top: 1rem;
}

.eventPgBtn {
  border: none;
  background-color: #ba6d39;
  color: white;
  border-radius: 12px;
  margin-top: -2rem;
  margin-left: 3rem;
  font-size: 16px;
  font-weight: 600;
}

.eventPgBtnC:hover .eventPgBtn {
  background-color: #dcd1ad;
  color: #12100e;
}

.eventPgBtnC:hover {
  background-color: #dcd1ad;
}

@media screen and (max-width: 970px) {
  .eventPgHdng {
    font-size: 6vw;
    font-weight: 500;
    line-height: 30px;
  }

  .eventPgCards {
    width: 300px;
    margin-bottom: 10%;
  }
  .eventPgBtnC {
    width: 300px;
  }
  .eventPgDesc {
    font-size: 14px;
  }
  .eventPgBtn {
    margin-left: 1.6rem;
  }
}

@media screen and (max-width: 800px) {
  .eventPgFlex {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .eventPgCards {
    width: 250px;
    height: 360px;
  }
  .eventPgBtnC {
    width: 250px;
    height: 4rem;
  }
  .eventPgDesc {
    font-size: 12px;
  }
  // .eventPgBtn {
  //   margin-left: 0rem;
  // }
  .eventPgFlex {
    gap: 3rem;
  }
  .eventPga {
    font-size: 10px;
  }
  .eventPgBtn {
    margin-left: -0.2rem;
  }
}
@media screen and (max-width: 450px) {
  .eventPgHdng {
    font-size: 8vw;
    line-height: 9vw;
    margin-bottom: 3vw;
  }
  .eventPgCards {
    margin-bottom: 20vw;
  }
}
