//PERKS OF PARTICIPATING
.event {
  width: 100%;
  // background: linear-gradient(#12100E,#331C00);
}
.certificateDescription h4{
  font-Family: Lexend;
  font-Weight: 600;
  font-Size: 18px;
  line-Height: 24px;
  color: 'white';
}
.certificateDescription > div {
  font-Family: Lexend;
  font-Weight: 400;
  font-Size: 16px;
  line-Height: 24px;
  color: 'white';
}
.container {
  height: 15rem;
  max-width: 100% !important;
  width: 100% !important;
  background-color: #ba6d39;
}
.heading {
  height: 5% !important;
}
.certificates {
  height: 90% !important;
  color: white;
}
.B{
  z-index: 4;
  height: 12rem;
}
.heading {
  width: 95%;
  font-size: 32px;
  text-align: center;
  padding: 40px;
  font-weight: 700;
}

.certificates {
  width: 85%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  // margin-left: 150px;
  margin-top: 1rem;
}
.certificates .certificate {
  display: flex;
  height: 56px;

  margin-bottom: 50px;
}
.certificates .certificateImage {
  width: 56px;
}
.certificates .certificateImage .img {
  background-color: #f7f8ff;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  text-align: center;
  margin-top: -1rem;
}
.certificates .certificateImage .img svg {
  margin-top: 50%;
  transform: translateY(-50%);
}
.img{
  display:flex;
  justify-content: center;
  align-items: center;
}


.certificates .certificateDescription {
  padding-left: 18px;
  // width: calc(100% - 56px);
}
.certificates .certificateDescription h2 {
  height: 24px;
  font-size: 18px;
}
.certificates .certificateDescription p {
  font-size: 12px;
}
.nameISCoordinator{
  font-weight: 500;
}
.helpRuleContainer{
 margin-top: 4rem;
  height: 15rem;
}

@media only screen and (max-width: 600px) {
  .certificates .certificate {
    margin-bottom: 15px;
  }
  .firstarrow,.secondarrow, .thirdarrow{
   font-size: 10px;
   font-weight: 400;
   justify-content: center;
   letter-spacing: 0.5px;
  }
  // .A{
  //   gap: 1rem;
  // }
}
// @media only screen and (max-width: 680px) {
//   .A{
//     gap: 1rem;
//   }
// }
//EVENT COORDINATOR
.parentIS {
  padding: 4rem;
  background: linear-gradient(180deg, #2c2117 0%, #301a08 100%);
  width: 100%;
  height: 65rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.coordinatorHeadingIS {
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  color: #e8dbb9;
  width: 80%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.coordinatorDetailIS {
  // border: 1px solid white;
  color: white;
  background-color: none;
  height: 35%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 9rem;
  justify-content: center;
  width: 100%;
}

.registerIS {
  // border: 1px solid white;
  color: white;
  background-color: none;
  height: 40%;
  width: 100%;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.A {
  background: none;
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.C {
  display: flex;
  flex-direction: column;
  background-color: #f3edd8;
  width: 65%;
  height: 40%;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  justify-content: center;
  margin-left: -1.45rem;
  min-width: 20rem;
}

.B{
  border-radius: 1.5rem;
  min-width: 11rem;
  width: 35%;
  background: none;
  // border: 1px solid white;
}

.nameISCoordinator {
  height: 40%;
  display: flex;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  color: #2a1809;
  font-weight: 700;
  padding: 1rem;
  font-size: 1.5rem;
  color: #2a1809;
}
.mailISCoordinator {
  height: 15%;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  color: #2a1809;
}
.contactISCordinator {
  height: 15%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  color: #2a1809;
}

.registerBack {
  background-color: #98613b;
  width: 70%;
  height: 80%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerFront {
  background-color: #f3edd8;
  height: 160%;
  width: 80%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageCordinator{
  height: 100%;
}

.boldRegisterQuestion {
  // border: 1px solid black;
  height: 25%;
  width: 80%;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 110%;
  /* identical to box height, or 31px */

  display: flex;
  align-items: flex-end;

  color: #2f1908;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.lightRegisterQuestion {
  // border: 1px solid black;
  font-size: 1.1rem;
  height: 15%;
  width: 80%;
  font-family: 'Nunito Sans';
  color: #2f1908;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  opacity: 80%;
}

.registerButton {
  // border: 1px solid black;
  height: 25%;
  width: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.button {
  width: 13rem;
  height: 65%;
  border-radius: 2rem;
  background-color: #ba6d39;
  font-size: 1rem;
  color: white;
  border: 2px solid #ba6d39;
}

.inbox {
  height: 20px;
  width: 20px;
}
.mailId {
  height: 1.5rem;
  width: 80%;
  text-align: start;
  font-family: 'Nunito Sans';
  opacity: 90%;
}

@media screen and (max-width: 685px) {
  .parentIS {
    width: 100vw;
    // height: 80rem;
  }
  .C {
    height: 12rem;
  }
  
  .event {
    width: 55rem;
  }
  .B {
    // margin-left: -20vw;
    // width: 15rem;
    // height: 15rem;
    // display: flex;
    // justify-content: flex-end;
    // align-items: center;
    z-index: 4;
  }
  .nameISCoordinator{
    font-size: 1.3rem;
  }
  .coordinatorDetailIS {
    height: 1rem;
    gap:0rem;
  }
}

//SPONSOR CARD

.CardBox1 {
  height: 15.75rem;
  width: 5rem;
  background-color: #98613b;
  border-radius: 12px 0px 0px 12px;
}

.CardBox2 {
  height: 15.75rem;
  width: 5rem;
  background-color: #98613b;
  border-radius: 0px 12px 12px 0px;
}
.CardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(180deg, #1e150d 0%, #2b2118 100%);
  height: 32rem;
}
.CardContent {
  width: 80%;
  height: 23.9375rem;
  background-color: #f3edd8;
  box-shadow: 0px -35px 12px 12px rgba(46, 25, 8, 0.1),
    0px 0px 15px 10px rgba(46, 25, 8, 0.05);
  border-radius: 12px;
  gap: 43px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  padding: 2rem;
}

.sponsorImage {
  // border: 1px solid black;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gfg {
  // border: 1px solid black;
  width: 55%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CText1 {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #98613b;
  flex: none;
  order: 1;
  flex-grow: 0;
  gap: 24px;
}

.CardText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 74px;
}

.CardLine {
  width: 1830px;
}

.SponsData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.SponsName {
  font-size: 24px;
  color: #43a047;
  font-weight: 600;
}

.sponsCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

@media only screen and (max-width: 1190px) {
  .CardContainer {
    padding: 0px 24px;
  }
  .A {
    width: auto;
  }
}
@media only screen and (max-width: 700px) {
  .CardLine {
    width: 80px;
  }
  .aboutEvent {
    margin-top: 16px !important;
    margin-bottom: 5rem;
  }
  
  .coordinatorHeadingIS {
    font-size: 24px;
  }
 
}

//SPONSOR CARD END

//EVENT COORDINATOR END

@media screen and (max-width: 1235px) {
  .coordinatorDetailIS {
    align-items: center;
    height: 40rem;
  }

  .C {
    height: 8rem;
  
  }
}

@media screen and (max-width: 1235px) {
  .registerFront {
    height: 15rem;
    width: 33rem;
  }
  .registerBack {
    height: 10rem;
    width: 42rem;
  }
}
@media screen and (max-width: 422px) {
  .coordinatorHeadingIS{
    font-size: 1.3rem;
  }
  
}

@media screen and (max-width: 960px) {
  .registerBack {
    width: 70vw;
  }
  .registerIS {
    width: 10vw;
  }
  .boldRegisterQuestion {
    font-size: 20px;
    line-height: 110%;
  }
  .lightRegisterQuestion {
    font-size: 16px;
  }

}

@media screen and (max-width: 960px) {
  .registerBack {
    width: 85vw;
  }
  .registerIS {
    width: 10vw;
  }
}

.containerEvents {
  // margin-top: 6rem;
  background: linear-gradient(180deg, #12100e 0%, #301a08 100%);
  color: white;
  width: 100%;
  height: 110%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.helpAboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.aboutbox {
width: 100%;
font-family: 'Nunito Sans'!important;
font-style: normal;
font-weight: 400;
font-size: 18px;
// line-height: 150%;
display: flex;
align-items: center;
// letter-spacing: 0.04em;
color: #FFFFFF!important;




}
.aboutContainer {
  width: 90%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  padding: 3.5rem;
  margin-top: 6rem;
}
.aboutHeading {
  color: #e8dbb9;
  font-family: 'Lexend' !important;
  font-weight: 700 !important;
  font-style: normal;
  width: 100%;
  font-size: 2rem !important;
}
.aboutEvent {
  font-family: 'Nunito Sans';
  text-align: justify;
  height: 135px;
  width: 100%;
  margin-top: 12px;
}
.secondcontainer {
  overflow: hidden;
  margin-top: 2rem;
  display: flex;
  margin-left: 1rem;
  display: flex;
  gap: 1rem;
}

.arrows {
  margin-top: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // margin-left: 0.1rem;

}
.helpArrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 9rem;
  height: 3rem;
  background: #98613b;
  border-radius: 6px;
}
.rulecontainer {
  padding: 2rem;
  // background-color: green;
  width: 100%;
}
.secondarrow,
.thirdarrow {
  width: 100%;
  border-radius: 6px;

  background-color: #98613b;
}
.firstarrow {
  border-radius: 6px 0px 0px 6px;
  clip-path: polygon(0 0, 80% 0%, 100% 50%, 80% 100%, 0 100%);
  background-color: #BA6D39;
  margin-top: -0.1rem;
  width: 110%;
  height: 4.2rem;
  justify-content: center;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 1.5rem;
  padding-right: 2rem;
  
}

.secondarrow,
.thirdarrow {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  color: #ffffff;
  

}

.verticalLine {
  background-color: #9b9996;
  width: 0.5rem;
}
.helpVerticalLine {
  width: 9rem;
  height: 19%;
  display: flex;
  justify-content: center;
}
.roundnamecontent {
  // background-color: yellow;
  // border: 1px solid red;
  overflow: hidden;
  width: 60vw;
  // height: 25rem;
  border-radius: 12px;
  padding-top: 4px;
  background: #f3edd8;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-top: 5rem;
}
.triangle-right {
  border-top: 33px solid transparent;
  border-left: 50px solid #98613b;
  border-bottom: 33px solid transparent;
}
.rulecontainer,
.criteriacontainer {
  display: flex;
  flex-direction: column;
  font-family: 'Nunito Sans';
  height: 25rem;
  width: 90%;
}

.criteria {
  opacity: 80%;
  padding-top: 1rem;
  margin-left: -1rem;
}
.rulecontainer {
  margin-top: 2rem;
}
.criteriacontainer {
  margin-top: -6rem;
}
.helpSecondContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.helpRuleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.ruleheading,
.criteriaheading {
  display: flex;
  align-items: center;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #f2f2f2;
  line-height: 26px;
  height: 15%;
  margin-left: 2rem;
}
.ruleheading {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #f2f2f2;
}
.criteriacontainer {
  padding: 2rem;
}

.rulebox {
  font: Nunito Sans;
}
.rules {
  opacity: 80%;
  width: 100%;
  margin-left: -1rem;
  padding-top: 2rem;
}
.rulesMentioned {
  height: 10%;
  width: 100%;
  // background-color:yellow;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  margin-left: 1rem;
}
.bullets {
  width: 2rem;
  height: 2rem;
  // background-color: red;
}
.writtenRules {
  width: 90%;
  height: 100%;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  /* White */

  color: #ffffff;

  // background-color: green;
}

.helpRules {
  height: 100%;
  width: 100%;
}
.perksbox {
  height: 251px;
  width: 100%;
  margin-top: 59px;
  padding: 18px 156px 64px 156px;
  background: #98613b;
}
.perksheading {
  height: 35px;
  width: 100%;
  size: 32px;
  margin-left: 500px;
}
.pstmt {
  font-size: 12px;
}
.perksflex {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}
.backgroundbox {
  height: 316px;
  width: 100%;
  margin-left: 213px;
  margin-top: 90px;
  border-radius: 12px;
  background-color: #98613b;
}
.simg {
  height: 160.35000610351562px;
  width: 100%;
  margin-left: 3.349609375px;
  margin-top: 43.548828125px;
}

.paragraph{
text-overflow: ellipsis;
}

.triangleDate p{
  overflow: scroll;
}

.triangleDate {
  // background-color: red;
  overflow: hidden;
  text-overflow: initial;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // align-items: flex-end;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #12100e;
  padding: 1.2rem;
  width: 100%;
  height: 20rem;
}
.listIdeathon {
  font-size: 0.875rem;
  width: 90%;
  height: 45%;
  background-color: #f3edd8;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 70%;
}
.dateIdeathon {
  font-size: 1.125rem;
  font-style: 'Nunito Sans';
  height: 25%;
  background-color: #f3edd8;
  width: 80%;
  font-weight: 500;
  color: black;
}
.descriptionIdeathon {
  width: 90%;
  background-color: #f3edd8;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  letter-spacing: 0.03em;

  /* Black */

  color: #12100e;

  opacity: 0.7;
}
.conclusionIdeathon {
  color: black;
  width: 90%;
  height: 20%;
  background-color: #f3edd8;
  margin-bottom: 20px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;

  letter-spacing: 0.03em;
}

@media screen and (max-width: 657px) {
  .aboutContainer {
    height: 25rem;
    padding: 0;
    padding-top: 2rem;
  }
  .rulecontainer {
    padding: 0;
  }
  .rulesMentioned {
    gap: 0;
  }
  .criteriacontainer {
    padding: 0;
    margin: 0;
  }
  .helpAboutContainer{
    margin-bottom: 4rem;
  }
  .firstarrow{
    margin-left: 2px;
  }

}

@media screen and (max-width: 700px) {
  .arrows {
    width: 40%;
  }
  .helpVerticalLine {
    width: 8rem;
  }
 

}

@media screen and (max-width: 500px) {
  .aboutContainer {
    height: 30rem;
  }
  .boldRegisterQuestion{
    font-weight: 550;
    font-size: 1rem;
  }
 
  .certificates{
   height: 2rem;
  }
 
}
@media screen and (max-width: 400px) {
  .aboutContainer {
    height: 25rem;
  }
  .firstarrow {
    
    font-size: 1.3rem;
    justify-content: center;
  }
 
  .descriptionIdeathon {
    margin-top: 1rem;
  }
  .boldRegisterQuestion{
    font-weight: 550;
    font-size: 4vw;
  }
  .coordinatorHeadingIS{
    margin-top: 5rem;
  }
  .coordinatogDetailIS{
    gap: 2rem;

  }
  .lightRegisterQuestion{
    font-size: 8px;
  }
  .criteriacontainer {
   margin-top: -5rem;
  }
  .criteria{
    height: 15rem;
  }
  .container{
    padding-top: 3rem;
  }

}

@media screen and (max-width: 353px) {
  .firstarrow {
    font-size: .6rem;
    // text-align: center;
  }
}
@media screen and (max-width: 321px) {
  .secondarrow {
    margin-top: 1rem;
    font-size: .6rem;
    // text-align: center;
  }
  .thirdarrow{
    margin-top: 1rem;
  }
}
// @media screen and (max-width: 600px) {
//   .arrows {
//     width: 40%;
//   }
//   .helpVerticalLine {
//     width: 35%;
//   }
// }

@media screen and (max-width: 480px) {
  .arrows {
    width: 40%;
  }
  .criteriacontainer {
    height: 100%;
  }
  .B {
    width: 2rem;
    height: auto;
  }
  .nameISCoordinator {
    font-size: 1rem;
  }
  .mailId {
    font-size: 0.8rem;
  }
  .certificateDescription{
    height: 25rem;
  }
  .certificateDescription> div {
    line-height: 0.5rem;
    font-size: 12px;
  }
  .lightRegisterQuestion{
    font-size: 12px;
    font-weight: 400;
  }
  .certificateDescription h4 {
    font-weight: 400;
    font-size: 16px;
  }
  .A{
    justify-content: flex-start;
  }
  // .B>img{
  //   width: 30vw;
  //   height: 30vw;
  // }
  .C{
   
    height: 30vw;
  }
}

@media screen and (max-width: 400px) {
  .helpRuleContainer {
    height: 40rem;
    padding-top: "-2rem";
  }
  .certificateDescription> div{
      font-size: 10px;
    }
    .certificateDescription h4{
      font-size: 12px;

      line-height: 9px;
    }
    .certificateDescription{
      font-size: 4px;
      line-height: 2px;
    }
    .roundnamecontent{
      line-height: 7px;
    }
    .triangleDate{
      font-family: 'Lexend';
      // font-size: 8px;
      // line-height: 10px;
    padding-right: 4px;
    }
}




@media screen and (max-width: 426px) {
  .aboutHeading {
    font-size: 1.5rem;
    height: 3%;
  }
  // .certificateDescription> div{
  //   font-size: 10px;
  // }
  // .certificateDescription h2{
  //   font-size: 8px;
  // }
  // .certificateDescription{
  //   font-size: 4px;
  // }
}
@media screen and (max-width: 350px) {
  .aboutHeading {
    font-size: 1.3rem;
  }

}

@media screen and (max-width: 504px) {
  .secondcontainer {
    margin-top: -2rem;
  }
  .ruleheading{
    margin-top: 5rem;
  }
  .rulecontainer {
    height: 35rem;
  }
  // .certificateDescription{
  //   font-size: 4px;
  // }
  // .certificateDescription h4 {
  //   font-size: 18px;
  //   line-height: 4px;
  //   font-weight: 400;
  //   color: white;
  // }
 
}

@media screen and (max-width: 476px) {
  .dateIdeathon {
    font-size: 0.9rem;
  }
  // .certificateDescription> div{
  //   line-height: 12px;
  //   color: white;
  // }
}

@media screen and (max-width: 800px) {
  .gfg {
    width: 100%;
  }
  .CardContent {
    height: auto;
    width: auto;
  }
  .event{
    text-align: left;
   
  }
  .C{
    min-width: 15rem;
  }
 
  .helpAboutContainer{
    margin-bottom: 8rem;
  }
  .certificates{
    justify-content: flex-start;
  }
  .certificateDescription{
    height: 8rem;
  }
  


  .secondcontainer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85vw;
    
  }
  .arrows{
    flex-direction: row;
    // justify-content: flex-start;
    width: 70vw;
   
  }
 
  .firstarrow  {
    width: 70vw;
    height: 10vw;
    font-weight: 600;
    clip-path: inset(0 0 0 0);
    border-radius: 4px;
    font-size: 18px;
    justify-content: center;
    letter-spacing: 1px;
    padding-right: 0px;
    
  }

  .helpArrow{
    width: 18vw;
    height: 10vw;
    
  }
  .secondarrow , .thirdarrow {
    width: 45vw;
    display: flex;

    justify-content: center;
    
  }
 
  .roundnamecontent{
    width: 80vw;
    padding-left: 0rem;
    padding-top: 2rem;
  }
 
  
}
ul{
  padding: 0rem;
}
@media screen and (max-width: 500px) {
  .CardBox2 {
    width: 0;
    height: 0;
  }
  .CardBox1 {
    width: 0;
    height: 0;
  }
  .helpArrow{
    width:17vw;
  }
 
  .helpVerticalLine{
    width: 6rem;
  }
 
   
  .C{
    min-width: 6rem;
  }
  .firstarrow{
    font-size: 14px;
    margin-left: -1rem; 
    display: flex;
    justify-content: flex-start;
    
  }
  .secondarrow, .thirdarrow{
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 0.1px;
    height: 3rem;
    margin-top:.5rem;
  
  }
}