.eventPgHdng {
  font-size: 44px;
  font-weight: 600;
  line-height: 30px;
  // text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
  display: flex;
  justify-content: flex-start;
  padding-left: 8%;
}

.eventPgCont {
  background: linear-gradient(180deg, #12100e 0%, #301a08 100%);
  color: #f3edd8;
  width: 100%;
}

.eventPgCards {
  background: #f3edd8;
  width: 350px;
  height: 415px;
  margin-bottom: 10%;
}

.eventPgAbout {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  letter-spacing: 0.04em;
  height: 13rem;
  // width: 17rem;
  color: black;
  text-align: center;
  padding-top: 31px;
  margin-top: -1rem;
}
// .eventPgBtnC:hover {


// }

.eventPgFlex {
  display: flex;
  // justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 7%;
  justify-content: center;
  align-items: center;

  //    padding-left: 20rem;
}

.eventPgBtnC {
  height: 56px;
  width: 350px;
  background-color: #ba6d39;
  padding-left: 4rem;
  padding-top: 1rem;
}

.eventPgBtn {
  border: none;
  background-color: #ba6d39;
  color: white;
  border-radius: 12px;
  margin-top: -2rem;
  margin-left: 3rem;
  font-size: 16px;
  font-weight: 600;
}

.eventPgBtnC:hover .eventPgBtn {
  background-color: #dcd1ad;
  color: #12100e;
}

.eventPgBtnC:hover {
  background-color: #dcd1ad;
}

@media screen and (max-width: 970px) {
  .eventPgHdng {
    font-size: 6vw;
    font-weight: 500;
    line-height: 30px;
  }

  .eventPgCards {
    width: 300px;
    margin-bottom: 10%;
  }
  .eventPgBtnC {
    width: 300px;
  }
  .eventPgDesc {
    font-size: 14px;
  }
  .eventPgBtn {
    margin-left: 1.6rem;
  }
}

@media screen and (max-width: 800px) {
  .eventPgFlex {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .eventPgCards {
    width: 250px;
    height: 360px;
  }
  .eventPgBtnC {
    width: 250px;
    height: 4rem;
  }
  .eventPgDesc {
    font-size: 12px;
  }
  // .eventPgBtn {
  //   margin-left: 0rem;
  // }
  .eventPgFlex {
    gap: 3rem;
  }
  .eventPga {
    font-size: 10px;
  }
  .eventPgBtn {
    margin-left: -0.2rem;
  }
}
@media screen and (max-width: 450px) {
  .eventPgHdng {
    font-size: 8vw;
    line-height: 9vw;
    margin-bottom: 3vw;
  }
  .eventPgCards {
    margin-bottom: 20vw;
  }
}

.headingAndBtnContainerDiv2 {
  width: 92vw;
  height: 442px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.EventsAndCompetitionsContainer2 {
  width: 550px;
  height: 48px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  color: #dcd1ad;
  display: flex;
  align-items: center;
}
.eventCardContainerDiv2 {
  width: 350px;
  height: 441px;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  margin-bottom: 5rem;
}
.eventsCardFlexContainerDiv2 {
  width: 92vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.eventImageContainerDiv2 {
  width: 350px;
  height: 230px;
  background: linear-gradient(
    180deg,
    rgba(38, 31, 21, 0) -41.94%,
    rgba(38, 31, 21, 0.434) 72.21%
  );
}
.eventTextContainer2 {
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f3edd8;
}
.eventNameTextContainerDiv2 {
  width: 302px;
  height: 24px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  line-height: 24px;
}
.eventShortDescriptionContainerDiv2 {
  width: 302px;
  height: 100px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #12100e;
}
.ReadMoreContainerDiv {
  width: 302px;
  height: 19px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
}
.eventBtnAndArrowContainerDiv2 {
  border: #ba6d39 3px solid;
  width: 350px;
  height: 44px;
  background-color: #ba6d39;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eventBtnAndArrowContainerDiv2:hover {
  border: 3px solid #dcd1ad;
}
.eventBtnAndArrowContainerDiv2:hover span {
  border: 3px solid #dcd1ad;
  background-color: #dcd1ad;
  color: #12100e;
}
.applyNowSpan2 {
  background-color: transparent;
  border: none;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 1px;
  margin-right: 10px;
}

.ViewAllEventsBtn2 {
  width: 264px;
  height: 48px;
  background: #ba6d39;
  border-radius: 6rem;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  border: 2px;
}

@media screen and (max-width: 800px) {
  .headingAndBtnContainerDiv2 {
    justify-content: space-evenly;
  }
  .eventsCardFlexContainerDiv2{
    justify-content: space-evenly;
  }
  .eventCardContainerDiv2{
    margin: 0rem 2rem 5rem 2rem;
  }

}

