.event {
  background: linear-gradient(#12100e, #331c00);
}

.box h1 {
  width: 95%;
  font-size: 22px;
  text-align: center;
  margin: 16px;
  padding: 16px;
  height: 10rem;
}

.box {
  background-color: #ba6d39;
}
.box .crts {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  margin-left: 150px;
}
.box .crts .crt {
  display: flex;
  height: 56px;
  width: 352px;
  margin-bottom: 50px;
}
.box .crts .crt-img {
  width: 56px;
}
.box .crts .crt-img .img {
  background-color: #f7f8ff;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  text-align: center;
}
.box .crts .crt-img .img svg {
  margin-top: 50%;
  transform: translateY(-50%);
}
.box .crts .crt-disc {
  padding-left: 18px;
  width: calc(100% - 56px);
}
.box .crts .crt-disc h2 {
  height: 24px;
  font-size: 18px;
}
.box .crts .crt-disc p {
  font-size: 12px;
}

.parentIS {
  padding: 4rem;
  background: linear-gradient(180deg, #2c2117 0%, #301a08 100%);
  width: 100%;
  height: 65rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coordinatorHeadingIS {
  font-size: 3rem;
  font-weight: bolder;
  font-family: 'Nunito Sans';
  // border: 1px solid white;
  color: #e8dbb9;
  background: none;
  height: 10%;
  width: 80%;
  display: flex;
  align-items: center;
  // justify-content: center;
}

.coordinatorDetailIS {
  // border: 1px solid white;
  color: white;
  background-color: none;
  height: 35%;
  display: flex;
  flex-direction: row;
  gap: 1%;
  justify-content: center;
  width: 100%;
}

.registerIS {
  // border: 1px solid white;
  color: white;
  background-color: none;
  height: 40%;
  width: 100%;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.A {
  width: 45rem;
  background: none;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20rem;
}
.C {
  display: flex;
  flex-direction: column;
  background-color: #f3edd8;
  width: 55%;
  height: 65%;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  justify-content: center;
  margin-left: -1.45rem;
}

.B {
  border-radius: 1.5rem;
  height: 100%;
  width: 12rem;
  background: none;
  // border: 1px solid white;
}

.nameISCoordinator {
  height: 40%;
  display: flex;
  align-items: center;
  font-family: 'Nunito Sans';
  font-weight: 700;
  padding: 1rem;
  font-size: 1.8rem;
  color: #2a1809;
}
.mailISCoordinator {
  height: 15%;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  color: #2a1809;
}
.contactISCordinator {
  height: 15%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  color: #2a1809;
}

.registerBack {
  background-color: #98613b;
  width: 70%;
  height: 80%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerFront {
  background-color: #f3edd8;

  height: 160%;
  width: 80%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boldRegisterQuestion {
  // border: 1px solid black;
  height: 25%;
  width: 80%;
  font-family: 'Nunito Sans';
  color: #2f1908;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.lightRegisterQuestion {
  // border: 1px solid black;
  height: 15%;
  width: 80%;
  font-family: 'Nunito Sans';
  color: #2f1908;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  opacity: 80%;
}

.registerButton {
  // border: 1px solid black;
  height: 25%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.button {
  width: 13rem;
  height: 65%;
  border-radius: 2rem;
  background-color: #ba6d39;
  font-size: 1rem;
  color: white;
  border: 2px solid #ba6d39;
}

.inbox {
  height: 1.5rem;
  width: 15%;
}
.mailId {
  height: 1.5rem;
  width: 80%;
  text-align: start;
  font-family: 'Nunito Sans';
  opacity: 90%;
}

//  @media screen and (max-width: 600px){
//    .box .crts .crt{
//     margin-bottom: 15px;
//   }

@media screen and (max-width: 685px) {
  .parentIS {
    width: 55rem;
    height: 80rem;
  }
  .C {
    height: 12rem;
  }
  .B {
    margin-top: -2rem;
  }
  .event {
    width: 55rem;
  }
  .B {
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .coordinatorDetailIS {
    height: 1rem;
  }
  .A {
    padding: rem;
  }
}

@media screen and (max-width: 1235px) {
  .coordinatorDetailIS {
    flex-direction: column;
    align-items: center;
    height: 40rem;
  }

  .A {
    height: 70%;
  }

  .C {
    width: 50%;
    height: 8rem;
    margin-top: -2rem;
  }
}

@media screen and (max-width: 1235px) {
  .registerFront {
    height: 15rem;
    width: 33rem;
  }
  .registerBack {
    height: 10rem;
    width: 42rem;
  }
  .coordinatorHeadingIS {
    width: 35rem;
  }
  .A {
    padding: 0.1rem;
  }
}

@media screen and (max-width: 966px) {
  .registerBack {
    width: 43rem;
  }
  
}
