.forgot-modal {
  width: 680px;
  height: 520px;
  background: #12100e !important;
  box-shadow: 0px 0px 10px 3px rgba(220, 209, 173, 0.05),
    0px 0px 24px 6px rgba(220, 209, 173, 0.05);
  border-radius: 12px;
  left: calc(50vw - 240px);
}
.forgotPasswordContainer {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.forgotPasswordHeader {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}
.forgotPasswordButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  gap: 8px;
  width: 262px;
  height: 44px;
  background: #ba6d39;
  border-radius: 100px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
}
.forgotPasswordSubHeader{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    display: flex;
    align-items: flex-end;
    color: #ffffff;
}