html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
[data-aos="aniRotateDown"] {
  
  transform :translateY(-5rem)  rotate(0deg);
  transition-property: transform, opacity;
  
}
[data-aos="aniRotateDown"].aos-animate {
  
  transform: translateY(8rem) rotate(90deg);

}