.ideaThon-bg{
//  background: rgba(18, 16, 14, 1);
 height:42rem;
 display: flex;
 flex-direction: row;
 background-image: url("/eventsbg.svg");
}

.ideaThon-main{
  height:42rem;
  height: 100%;
  width: 100%;
}

.ideaBox1{
  width:45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left:130px;
  gap:35px;
}


.idea-Text1{
  font-family: 'Lexend',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 110%;
display: flex;
align-items: flex-end;
color: #F2f2f2;
}

.idea-Text2{
  font-family: 'Nunito Sans',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #F2f2f2;
  width:65%;
  opacity: 0.8;
}

.idea-Button{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 40px;
gap: 8px;
background: #BA6D39;
border-radius: 100px;
border: none;
}

.iBT{
  font-family: 'lexend',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 1px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}

.yellowBox{
  display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding: 24px 153px;
gap: 150px;
background: #98613B;
}

.boxHead1{
  font-family: 'Lexend',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: -0.75px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}

.boxContent1{
  font-family: 'Lexend',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 1px;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
}

@media only screen and (max-width:600px){
  .ideaThon-main{
    background-repeat: no-repeat;
    
  }
  
  .ideaThon-bg {
    background-image: url("/bgmob.webp");
    height: 42rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.idea-Text1 {
  font-family: "Lexend", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  display: flex;
  align-items: flex-end;
  color: #F2f2f2;
}

.ideaBox1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  padding-left: 0;
  width:100%;
  margin-top: 20rem;
}
.yBox1{
  display: none;
}

.boxHead1,
.boxContent1{
  font-size: 14px;
}

.yellowBox{
  padding:0;
  gap:0;
}

}