.leaderBox {
  background-color: #301a08;
  height: 100vh;
  width: 100vw;
  padding: 0px 10vw;
  padding-top: 3rem;
}
.leaderBoardTop {
  display: flex;
  justify-content: space-evenly;
  opacity: 0.5;
  border-bottom: 1px solid #dcd1ad;
  padding: 13px 2vw;
  gap: 2.107vw;
  div {
    color: #bcd1ab;
  }
}
.sliderContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 413px;
  height: 42px;

  background: rgba(243, 237, 216, 0.1);
  border-radius: 48px;
}

.toggActive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  width: 50%;
  height: 100%;
  background: #dcd1ad;
  border-radius: 48px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 110%;
  color: #12100e;
  cursor: pointer;
}
.toggSetActive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  width: 50%;
  height: 100%;
  background: transparent;
  border-radius: 48px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 110%;
  color: #FFFFFF;
  cursor: pointer;
}
.leaderBoardParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.leaderBoard {
  display: flex;
  justify-content: space-between;
  gap: 2.107vw;
  color: white;
  padding: 13px 2.107vw;

  div {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
}

.leaderBoardName1 {
  padding-right: 32px;
}

@media only screen and (max-width: 800px) {
  .leaderBoardTop {
    gap: 10px;
    justify-content: space-between;
    div {
      font-size: 12px;
      font-weight: 400;
    }
  }
  .leaderBoard {
    gap: 21px;
  }
}
