.navbarParent{
    background: #121212;
    display: flex;
    justify-content: space-between;
    height: 73px;
}

.navbarEsummitLogo{
    /* border: 1px solid black; */
    width: 25%;
    display: flex;
    margin-left:70px;
}

.navbarImage{
    display: flex;
    justify-content: center;
    height: 90%;
    padding: .2rem;
    margin-left: -.2rem;
}

.navbarButton{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 25px;
gap: 10px;
border-radius: 4px;
background-color:#121212;
border:2px solid white;
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: flex-end;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}

.navbarButton:hover{
    background: #FFFFFF;
    color:#121212;
}
.navbarLogIn{
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
align-items:center;
display: flex;
align-items: flex-end;
color:white;
text-decoration-line: none;
}

.navbarLogIn:hover{
    text-decoration-line: underline;
    color: #FFD754;
}


.navbarUl{
    list-style: none;
    list-style-type:none;
}

ul a.active {
    color: #FFD754;  
    text-decoration:underline;
}

div a{
    color:yellow;
}

.navbarActive{
    color: #FFD754 !important;  
    text-decoration:underline;
}
.navbarListBox{
    color:white;
    text-decoration: none;
}
// .navbarListBox:hover {
//     color: #FFD754;  
//     text-decoration:underline;
// }
