.containerProfile{
    width: 40rem;
    height: 15rem;
    // border: 1px solid black;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: #301A08;

}
.profileImage{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid white;
}
.profileInfo{
    width: 65%;
    height: 100%;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.nameProfile{
    // border: 1px solid black;
    width: 100%;
    height: 30%;
    color: white;
    font-size: 1.5rem;
    font-family: 'Nunito Sans';
    font-weight: 700;
    display: flex;
    align-items: center;

}
.summitIdProfile{
    // border: 1px solid black;
    width: 100%;
    height: 20%;
    color: white;
    font-size: 1.125rem;
    font-family: 'Nunito Sans';
    font-weight: 400;
    display: flex;
    align-items: center;
    opacity: 80%;

}

.viewFullProfile{
    // border: 1px solid black;
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
   

}
.hyperlinkProfile{

    height: 100%;
    // border: 1px solid black;
    display: flex;
    align-items: center;
}

.checkmarkProfile{
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // border: 1px solid black;
}