.RegisterationContainer {
 
  width: 100vw;
  position: relative;
}

.RegisterHere {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: -90vh;
}

.RegisterLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.RegisterLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registrationTitle {
  font-family: 'Lexend';
  font-weight: 700;
  font-size: 28px;
  line-height: 35.2px;
  color: #dcd1ad;
  margin-top: 10px;
}

.registrationsubTitle {
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 400px;
  line-height: 20.8px;
  color: #bdbdbd;
}

.formInput {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 35vw;
  background-color: transparent;

  Input {
    width: 90%;
    background-color: transparent;
    border: none;
    border-bottom: 1px white solid;
    margin: 10px;
  }
}

.SelectGender {
  color: #dcd1ad;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: -80px;
  gap: 1rem;
}

.selectOneOption {
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 1rem;
  margin-top: 0px;
  color: #dcd1ad;
  cursor: pointer;

  input[type='radio'] {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 5px;
  }
}

.nextButton {
  width: 267px;
  height: 48px;
  background-color: #ba6d39;
  border-radius: 100px;
  padding: 12px, 72px, 12px, 72px;
  font-weight: 600;
  margin-left: -5vw;
  font-family: Lexend;
  font-size: 18px;
  color: #ffffff;
  margin-top: 48px;
  margin-bottom: 24px;
}

.identityButton {
  display: flex;
  flex-direction: column;

  button {
    color: #ffffff;
    font-style: normal;
    font-family: 'Lexend';
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    width: 448px;
    height: 62px;
    border-radius: 32px;
    padding: 20px, 64px;
    margin: 10px;
    background-color: #ba6d39;
  }
}
.regButton {
  max-width: 400px;
  width:80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-style: normal;
  font-family: 'Lexend';
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;

  max-height: 55px;
  height: 11.5vw;
  border-radius: 32px;
  background-color: #ba6d39;
}
.regButton:hover {
  background-color: #DCD1AD;
  color: #12100E;
}

.createAccount {
  width: 267px;
  height: 48px;
  border-radius: 100px;
  margin: 8px;
  padding: 12px, 72px;
  background-color: #ba6d39;
  color: #ffffff;
  margin: 48px 0px 86px 0px;
}

.mobRegisterContainer {
  height: 100vh;
  width: 100vw;
  background-color: #12100e;
}
.GenderHdng{
  background-color: #12100e;
}

.regInputContainer{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:0.3rem;
  background-color: #12100e;
  
}

.mobRegisterHere {
  height: 100vh;
  position: relative;
  margin-top: -70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.summitLogo {
  width: 100vw;

  display: flex;
}


.mobRegisterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.mobRegisterTitle {
  color: #dcd1ad;
  font-size: 28px;
  font-weight: 600;
  font-family: 'Lexend';
}

.mobRegisterSubTitle {
  color: #bdbdbd;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.mobRegisterForm {
  input {
    width: 320px;
    border: none;
    border-bottom: 1px solid #828282;
    height: 44px;
    margin: 5px;
    background-color: transparent;
  }
}

.genderInput {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #bdbdbd;

  input {
    height: 15px;
    width: 15px;
    font-family: 'Nunito Sans';
    margin: 20px;
  }
}

.mobRegisterForm {
  button {
    width: 320px;
    height: 60px;
    border-radius: 32px;
    background-color: #ba6d39;
    color: #ffffff;
    font-family: 'Lexend';
    margin-top: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 1px;
  }
}

button:hover {
  background-color: #dcd1ad;
  color: #12100e;
}

.mobRegisterFormMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.mobRegisterFormMore {
  input {
    width: 320px;
    border: none;
    border-bottom: 1px solid #828282;
    height: 40px;
    margin: 5px;
    background-color: transparent;
  }
}

.mobRegisterFormMore {
  button {
    width: 320px;
    height: 60px;
    border-radius: 32px;
    background-color: #ba6d39;
    color: #ffffff;
    font-family: 'Lexend';
    margin-top: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 1px;
  }
  .SelectGender{
    padding-bottom: 30rem;
  }
}
@media screen and (max-width: 800px) {
  .RegisterLeft {
    width: 80vw;
  }
  .SelectGender{
    padding-left: 6vw;

  }
  // .gender{
  //   width: 100vw;
  // }
  Select{
    background-color: #12100e;
    color: #828282;
    width: 19rem;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px
   }
 
  .GenderHdng{
    
    padding-top: 1rem;
  }
  .RegisterHereMob {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 50;
    margin-top: -70vh;
  }
  .RegisterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .CreateAccount {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 110%;

    display: flex;
    align-items: center;
    text-align: center;

    color: #dcd1ad;
  }
  .CreateAccountsubTitle {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    color: #bdbdbd;
  }
  .GenderHdng{
   text-align: start;
  }
  
  .FormInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
  }
  .RegisterGender {
    max-width: 300px;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 13vw;

  }
  .SelectGender { 
    width: 80vw;
    flex-direction: column;
    margin: 10px;

  }
  .AlreadyRegistered {
    height: 14px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    gap:0.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #bdbdbd;

    
  }
  .SummitLogo{
    margin-bottom: 55vh;
  }
  .nextButton{
   
    margin-Left:'0rem';
  }
  .FormInputs{
    
    background-color: #12100e;
    width: 100vw;
    margin-top: 5vh;
  }
}
@media screen and (max-width: 600px) {
  .RegisterGender {
    margin-left: 6vw;
  }
}
@media screen and (max-width: 450px) {
  .RegisterGender {
    margin-left: 4vw;
  }
}
@media screen and (max-width: 320px) {
  .RegisterGender {
    flex-direction: column;
  }
}
@media screen and (max-width: 1110px) {
  .flex1{
    font-size: 0.9rem !important ;
    font-weight: 600  !important;
   
  }
  .selectOneOption{
    gap: 0.6rem;
    margin-left: 4vw;
  }
  .SelectGender{
    flex-direction: column;
    margin-bottom: 10px;
  }
 
}