.allSpeakerContainerDiv {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  background: linear-gradient(180deg, #12100e 0%, #301a08 100%);
}
.allSpeakerContainer {
    width: 86vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
  }
.speakerText {
  width: 204px;
  height: 48px;
  margin-top: 50px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #dcd1ad;
}

// .viewAllSpeakerBtn {
//   width: ;
//   height: ;
// }

.SpeakerDescriptionText {
  width: 1312px;
  height: 108px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  color: #bdbdbd;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  margin-top: 56px;
  margin-bottom: 56px;
}

.sponsorCard {
//   width: 416px;
width: 416px;
  height: 484px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.sponsorCardImage {
  z-index: 1;
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.sponsorCard:hover .sponsorCardImage {
  transform: scale(1.14);
}

.sponsorCardDescription {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 484px;
}

.sponsorCardYear {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  display: flex;
  align-items: center;
  z-index: 5;
}

.sponsorCardName {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 110%;
  display: flex;
  align-items: center;
  z-index: 5;
}

.sponsorCardCompany {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  z-index: 5;
}

.sponsorCard:hover .sponsorCardBox {
  transform: translateY(-1vh);
  transition: 1s ease;
  z-index: 300;
}

.sponsorCardCompany1 {
  // visibility: hidden;
  display: none;
}
.sponsorCard:hover .sponsorCardCompany1 {
  // visibility: visible;
  display: block;
  transition: 1s ease;
}
.speakerCardContainerDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
