.sponsorContainer{
background:linear-gradient(180deg, #12100E 0%, #301A08 100%);
}

.workspaceSponsor{
color: white;
min-height: 100vh;
height: auto;
// border: 2px solid white;
padding: 3rem;
display: flex;
flex-direction: column;
gap: 2rem;
}
.sponsorHeading{
    margin-top: -1rem;
    padding:1rem;
    // border: 1px solid red;
    font-family: 'Lexend';
    font-weight: 600;
    font-size:3rem;
    color: #DCD1AD;
}
.sponsorDescription{
    margin-top: -2rem;
    padding: 1rem;
    font-family: 'Nunito Sans';
    font-weight: 400;
    margin-top: 5.188;
    font-size: 1rem;
    // height: 3.375rem;
    // border: 1px solid red;
    line-height: 150%;
    color:#BDBDBD;

}
.sponsorImageandTypeSection{
    // border: 2px solid red;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5.313rem;
}

.sponsorBox{
    // border: 1px solid red;
    height: 24.5rem;
    width: 13.875rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BA6D39;
}

.sponsorImage{
    margin-top: -.5rem;
    height: 14.875rem;
    width: 15.875rem;
    // border: 1px solid red;
    border-radius: 0.75rem;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 12px rgba(46, 25, 8, 0.1), 0px 0px 15px 10px rgba(46, 25, 8, 0.05);

}
.sponsorType{
    // border: 1px solid white;
    width: 10.875rem;
    font-family: 'Lexend';
    font-weight: 600;
    font-size:2rem;
    display: flex;
    justify-content: center;
    text-align: center; 
    margin-top: 1rem;

    
}
.sponsorImageStatic{
    overflow: hidden;
    height: 100%;
    width: 90%;
}
.sponsorImageStaticgrabon{
    height: 100%;
    border-radius: 0.75rem;
    width: 100%;
}