.CardBox1 {
  height: 19.75rem;
  width: 5rem;
  background-color: #98613b;
  border-radius: 12px 0px 0px 12px;
}

.CardBox2 {
  height: 19.75rem;
  width: 5rem;
  background-color: #98613b;
  border-radius: 0px 12px 12px 0px;
}
.CardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.CardContent {
  width: 57.9375rem;
  height: 23.9375rem;
  background-color: #f3edd8;
  box-shadow: 0px -35px 12px 12px rgba(46, 25, 8, 0.1),
    0px 0px 15px 10px rgba(46, 25, 8, 0.05);
  border-radius: 12px;
  gap: 43px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
}

.CText1 {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #98613b;
  flex: none;
  order: 1;
  flex-grow: 0;
  gap: 24px;
}

.CardText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 74px;
}

.CardLine {
  width: 183px;
}

.SponsData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.SponsName {
  font-size: 24px;
  color: #43a047;
  font-weight: 600;
}
.speakerBtnAndTextContainer {
  width: 93%;
  height: 442px;
  display: flex;
  flex-direction: row;
  // margin-top: 6rem;
  // margin-bottom: 6rem;
  align-items: center;
  justify-content: space-between;
}
.homepageSpeakerText {
  // width: 204px;
  height: 48px;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #dcd1ad;
}
.viewAllSpeakersBtn {
  border: 2px;
  height: 3rem;
  width: 18rem;
  background-color: #ba6d39;
  border-radius: 6rem;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  z-index: 1;
}
.viewAllSpeakersBtn:hover {
 color: black;
  }
.viewAllSpeakersBtn2nd {
  border: 2px;
  height: 3rem;
  width: 16rem;
  background-color: #ba6d39;
  border-radius: 6rem;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  z-index: 1;
  margin:30px 0;
  display: none;
}
.viewAllSpeakersBtn2nd:hover {
 color: black;
  }
@media only screen and (max-width: 1190px) {
  .CardContainer {
    padding: 0px 24px;
  }
}
@media only screen and (max-width: 700px) {
  .CardLine {
    width: 80px;
  }
}
@media only screen and (max-width: 450px) {
  .viewAllSpeakersBtn{
    display: none !important;
  }
  .viewAllSpeakersBtn2nd{
    display: block !important;
  }
}
