.teamCardBox{
    display: flex;
    height:20.125rem;
    width:16.125rem;
align-items: center;
flex-direction: column;
}

.teamCardDescription{
    // margin-left:-24%;
    display:flex;
    flex-direction: column;
    gap:2px;
    margin-top:-72%;
    transform: translate(0,0);
}
.teamCardDescription1{
    // margin-left:-24%;
    display:flex;
    flex-direction: column;
    gap:2px;
    margin-top:-72%;
    transform: translate(0,0);
    margin-left:9px;
}

.blackShade{
    margin-top:11.2%;
    width:16.125rem;
    height:9.8rem;
}

.teamCardDescriptionName{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-top: 46.5%;
    // background: linear-gradient(0deg, #12100E 0%, rgba(18, 16, 14, 0) 100%);
}

.teamCardDescriptionPost{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #DCD1AD;
    // background: linear-gradient(0deg, #12100E 0%, rgba(18, 16, 14, 0) 100%);
}

.teamCardBoxSocialMedia{
    // margin-bottom:-21%;
    opacity: 0;
    display: flex;
    gap:6px;
    // background: linear-gradient(0deg, #12100E 0%, rgba(18, 16, 14, 0) 100%);

    
}
  .teamCardBox:hover .blackShade{
    transition:0.3s all ease-in-out;
    height:16rem;
    margin-top:-24%;
  }
  .teamCardBox:not(:hover) .blackShade{
    transition:0.3s all ease-in-out;
  }
  .fadeUpBox1:hover .teamCardBoxSocialMedia{
    transition: 0.4s ease-in-out;
    animation: moveUp 0.5s ease-in-out;
    opacity: 1;
  }
//   .teamCardBox:hover .fadeUpBox2{
//     transition:0.6s all ease-in-out;
//     animation:moveUp2 0.5s ease-in-out;
//   }
//   .teamCardBox:not(:hover) .fadeUpBox2{
//     transition:0.6s all ease-in-out;
//     height:10rem;
//   }

@keyframes moveUp{
    0%   {opacity: 0;}
    25%  {opacity: 0;}
    50%  {opacity: 0;}
    75%  {opacity: 0.8;}
    100% {opacity: 1;}
}
// @keyframes moveUp2{
//     0%   {display: none;}
//     50%  {display: flex;}
//     100% {display: flex;}
// }
.teamCardBox:hover .teamCardBoxSocialMedia{
    transition: 0.4s ease-in-out;
    animation: moveUp 0.5s ease-in-out;
    opacity: 1;
}


@keyframes moveUp{
    0%   {opacity: 0;}
    25%  {opacity: 0;}
    50%  {opacity: 1;}
    75%  {opacity: 1;}
    100% {opacity: 1;}
}

.teamCardBox:hover .teamCardDescription1{
    transition: 0.3s all ease-in-out;
    transform: translate(0,-45px);
    display: flex;
    // flex-direction: column;
    gap:6px;
}


// team page 
.teamCardPage{
    // min-height:200vh;
    // height:auto;
    width:100vw;
    background: linear-gradient(180deg, #12100E 0%, #301A08 100%);
    display: flex;
    flex-direction: column;
    gap:90px;
    height:150rem;
    // background-color: red;
    // padding:100px;
    
}

.teamCardPageHeading{
    font-family: 'Lexend';
font-style: normal;
font-weight: 600;
font-size: 44px;
line-height: 110%;
display: flex;
align-items: center;
color: #DCD1AD;
padding:0px 100px;
margin-top:-18px;
}

.teamCardPageDescription{
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #BDBDBD;
padding:0px 100px;

}

@media only screen and (max-width:400px){
    .teamCardPageHeading{
        font-size:25px;
        padding:0 40px;
        margin-top:-64px;
    }

    .teamCardPageDescription{
        font-size:15px;
        padding:0 80px;
    }
}