.thirdLandingAnimationPage{
    height:100vh;
    width:100vw;
    background-color:#BA6D39;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:80px;
    // margin-top:20rem;
    padding-right:10vw;

}

.thirdLandingAnimationPageBox1{
    // width:416px;
    // height:263px;   
    width:36vw;
    height:24vw;
    display: flex;
    flex-direction: column;
    gap:32px;
}

.thirdLandingAnimationPageHeading{
font-family: 'Lexend';
font-style: normal;
font-weight: 600;
font-size: 44px;
line-height: 110%;
color: #DCD1AD;
}

.thirdLandingAnimationPageDescription{
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
letter-spacing: 0.04em;
color: #E9F0F4;
}

// mobile view css
.ThirdLandingAnimationPageMobile{
    width:100vw;
    background-color:#BA6D39;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:80px;
    padding:164px 24px;
    margin-top:-50%;
    position: relative;
    z-index: 100;
}

.ThirdLandingAnimationPageMobileBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:32px;
    width:90vw;
    padding-left:10px;
}

.ThirdLandingAnimationPageMobileHeading{
    font-family: 'Lexend';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 110%;
color: #DCD1AD;
}

.ThirdLandingAnimationPageMobileDescription{
    font-family: 'Nunito Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
letter-spacing: 0.04em;
color: #E9F0F4;
}
@media only screen and (max-width:1050px){
.thirdLandingAnimationPageDescription {
font-size: 15px;
}
.thirdLandingAnimationPageHeading{
    font-size: 34px;
}
}